<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connstr" connectionString="workstation id=ma7xdatabase.mssql.somee.com;packet size=4096;user id=ma7x_SQLLogin_1;pwd=dt5zqh33ne;data source=ma7xdatabase.mssql.somee.com;persist security info=False;initial catalog=ma7xdatabase" />
    <add name="connstr1" connectionString="Server=35b995ad-3eef-426a-b609-a16400d43cb0.sqlserver.sequelizer.com;Database=db35b995ad3eef426ab609a16400d43cb0;User ID=myjreyzjjqnldbmh;Password=nAE7NEPpdLwaJMudHy8Sh8a2YiyTG4yrtjYeu366rhMEH4TRsCZRdSiozLgEf4Ph;"/>
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
